@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #EDEDED;
    --foreground: #000000;
    --primary-foreground: #000000;
    --seconday-foreground: #0043A8;
  }
  
  @media (dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-bg {
  background-image: url('../../public/image/nicki-chicken-rice.jpeg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}